:root{
	--color-dark:#444;
	--color-light:#fefefe;
	--color-accent:crimson;
	--fw-bold::900;
	--fw-light:100;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}
.wrapper{
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), 
		url("./img/fish-3347.jpg")center/cover no-repeat fixed;
	height:90vh;
	width: 98.8vw;
	padding: 1em 4em 0 4em;
	text-transform: capitalize;
	line-height: 1.4;
	color: var(--color-light);

}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header{
	background: transparent;
	position: relative;
}
.logo a{
	font-size: 1.2em;
	padding: .5em 1em;
	font-weight:lighter;
	font-weight: bold;
	color: var(--color-light);
}

/*STYLING MAIN TEXT*/

.text{
	max-width: 55%;
	margin-top: 5em;
}

/*STYLING FORM FORM */
	.form a{
		padding: 1.3em;
		color: var(--color-light);
		background: var(--color-accent);
		transition: transform 250ms ease-in-out;
	}
	.form a:hover{
	transform: scale(.95);
	background: var(--color-dark);
	}
	.form{
		margin-top: 2em;
	}
/*END OF MAIN IE LANDING PAGE*/



/*STYLE OF PRODUCT SECTION*/
.products-wrapper{
	
	padding:0 4em 0 4em;
	margin-top: .5em;
}
.section-title{
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
}
.product{
	max-width: 30%;
	box-shadow: 10px 10px 5px #aaa;
}
.section-subtitle{
	margin-bottom: 1em;
}
.image{
		background: var(--color-accent);
		text-align: center;
	}
.section-text{
	margin-bottom: 2em;
}
.product a{
	padding: 1em;
	background: var(--color-accent);
	color: var(--color-light);
	margin-bottom: em;
	display: inline-block;
	transition: transform 250ms ease-in-out;
}
.product a:hover{
transform: scale(.95);
background: var(--color-dark);
}
.footer{
	background: var(--color-dark);
	margin-top: 1em;
}
.footer a{
	padding: 2em;
	color: var(--color-light);
}
/*MEDIS QUERY*/
@media(max-width:990px){

	.header{
		text-align: center;
}

	.wrapper{
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), 
		url("./img/fish-3347.jpg")top/contain no-repeat fixed;
	height: 90vh;
	width: 95.6vw;
	padding: 2em 2em 0 2em;
}
	.text{
		text-align: center;
		margin: 3em auto 0 auto;
		font-size: .7em;
		max-width: 80%;
		font-weight: 100;
	}
	.form a{
		padding: 1.3em;
		text-align: center;
		color: var(--color-light);
		background: var(--color-accent);
	}
	.form{
		margin-top: 3em;
		width: 100%;
		text-align: center;
	}
	.section-title{
		margin-top: 0;
		margin-bottom: 2em;
		color: var(--color-dark);
		font-size: 2em;
	}
	.image{
		background: var(--color-accent);
		text-align: center;
	}
	.section-subtitle{
		margin-bottom: .5em;
		color: var(--color-dark);
		font-size: 2em;
	}
	.section-text{
		margin-bottom: 1em;
	}
	.flex{
		flex-direction: column;
	}
	.products-wrapper{
	
		padding:0 3em 0 3em;}
	.product{
		max-width: 100%;
		margin-bottom: 1.5em;
	}
}